#Collection information
* * * * * /usr/bin/python /var/local/btce.py
* * * * * /usr/bin/python /var/local/coindesk.py
* * * * * /usr/bin/python /var/local/read_twitter.py

#Respawn tradestudent if crashed
*/5 * * * * /var/local/respawn.sh

#Respawn mongod if crashed
* * * * * /usr/bin/mongod

#Boot web services on startup
@reboot /var/www/trades.ukora.com/start_it.sh

#Boot tradestudent on startup
@reboot /var/local/start.sh